/* contact.css */

.c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Adjust height as necessary */
    padding: 30px;
    background-color: rgb(32, 45, 84);
    color: beige;
    text-align: center;
}

.cinfo {
    font-size: 30px; /* Adjust font size */
    font-weight: bold;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(32, 45, 84);
}

.cp {
    font-size: 16px; /* Adjust font size */
    font-weight: bold;
    margin-bottom: 20px;
    background-color: rgb(32, 45, 84);
}

.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: rgb(32, 45, 84);
    color: beige;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Adjust font size */
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: beige;
    color: rgb(32, 45, 84);
}

.btn-linkedin {
    background-color: rgb(32, 45, 84);
}

.btn-github {
    background-color: rgb(32, 45, 84);
}

.btn-cv {
    background-color: rgb(32, 45, 84);
}

.copyright {
    background-color: rgb(32, 45, 84);
    color: black;
    padding: 15px;
    text-align: center;
    margin-top: 20px;

}

/* Media Queries for Responsive Design */

@media (min-width: 768px) {
    .c {
        flex-direction: row;
        align-items: center;
    }

    .cinfo {
        font-size: 40px; /* Increase font size for larger screens */
        margin-right: 20px; /* Add spacing between elements */
    }

    .cp {
        font-size: 20px; /* Increase font size for larger screens */
        margin-left: 20px; /* Add spacing between elements */
    }

    .contact-buttons {
        margin-top: 30px;
    }

    .copyright {
        margin-top: 0; /* Adjust spacing */
    }
}
