.e {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 30px;
    border: 2px dashed black;
    margin-bottom: 40px; /* Added margin to create space */
}

.e-left,
.e-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.e-left {
    margin-right: 10px;
}

.e-right {
    margin-left: 10px;
}

.company1,
.company2 {
    height: 180px;
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

.l-left,
.r-right {
    flex: 1;
    padding-top: 20px;
    font-size: 10px; /* Decreased font size */
    font-weight: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(32, 45, 84);
}

/* Media Queries */
@media (min-width: 768px) {
    .e {
        flex-direction: row;
        height: 75vh;
        align-items: center; /* Center items vertically */
    }

    .e-left,
    .e-right {
        flex: 1;
        margin-bottom: 0;
    }

    .company1,
    .company2 {
        margin-top: 70px; /* Adjusted margin-top */
    }

    .l-left,
    .r-right {
        font-size: 12px; /* Decreased font size */
    }
}
